* {
  box-sizing: border-box;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

/* HEADER */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 20px;
  color: white;
  text-align: center;
  background: rgb(63,94,251);
  background: linear-gradient(121deg, rgba(63,94,251,1) 15%, rgba(252,70,107,1) 100%);
  box-shadow: 0px 2.98256px 7.4564px rgba(0, 0, 0, 0.305);
}

#troll-img {
  width: 40px;
  margin-right: 15px;
}

/* MEME */
.meme {
  display: flex;
  flex-direction: column;
  margin: 20px;
}

.form-input-top-text,
.form-input-bottom-text {
  width: 100%;
  line-height: 35px;
  margin: 10px 0;
  text-indent: 0.75rem;
  border: 1px solid rgba(213, 212, 216, 1);
  border-radius: 5px;
}

.form-button {
  background: rgb(63,94,251);
  background: linear-gradient(121deg, rgba(63,94,251,1) 15%, rgba(252,70,107,1) 100%);
  width: 100%;
  line-height: 35px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 10px;
  font-weight: 700;
  font-size: 16px;
}

.meme--image {
  width: 100%;
  height: auto;
  margin: 2rem 0;
  border-radius: 2px;
}


/* FOOTER */
.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
  margin-top:auto; 
}

.footer--link {
  color: #000;
  text-decoration: none;
}

.footer--link:hover {
  text-decoration: underline;
}

.footer--link:visited {
  text-decoration: none;
}


/* MEDIA QUERIES */
@media screen and (min-width: 768px) {
  .meme {
    margin-top: 2rem;
    max-width: 570px;  
  }

  .meme--form {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  .form-input-top-text,
  .form-input-bottom-text {
    width: 48%;
  }

  .form-button {
    margin-top: 1rem;
    width: 100%;
  }
}